<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta content="telephone=no" name="format-detection">
  <meta http-equiv="Access-Control-Allow-Origin" content="*">
  <meta http-equiv="cleartype" content="on">
  <link rel="shortcut icon" href="static/img/favicon.ico">
  <!--搜索引擎优化 -->
  <!--<meta name="renderer" content="webkit"> -->
  <!-- DNS提前解析 -->
  <!-- <link rel="dns-prefetch" href="" /> -->
  <!-- 提前预拉资源 ，很适合字体文件预拉取-->
  <!-- <link rel="prefetch" href=""> -->
  <!-- 提前建立连接 -->
  <!-- <link rel="preconnect" href=""> -->
  <!-- 和prefetch类似，但是优先级最高，适合马上要用到的资源 -->
  <!-- <link rel="subresource" href=""> -->
  <!-- 让浏览器提前加载指定页面的所有资源。 -->
  <!-- <link rel="prerender"  href="/thenextpage.html" /> -->
  <!-- 百度PC和手机端的开放适配 -->
  <!-- <meta name="mobile-agent" content="format=html5;url="> -->
  <!-- 用来解决由于网址形式不同内容相同而造成的内容重复问题，简单的说它可以让搜索引擎只抓取你想要强调的内容。 -->
  <!-- <link rel="canonical" href=""> -->
  <script src="static/js/base/layout.js?_inline"></script>
  <script src="static/js/base/stat.js?_inline"></script>
  <link rel="stylesheet" href="static/css/base/normalize.css?_inline">
  <link rel="stylesheet" href="static/css/base/main.css?_inline">
  $head
</head>

<body>
	$body
</body>
</html>
